:root{
    --primary-color:#4c78da;
    --black-color:#000000;
    --white-color:#ffffff;
    --dark-color:#232e3d;
    --light-color:#ebeef2;
    --bg-light:#f6f7f9;
    --border-color:#f6f7f9;

}